<footer style="background-color: #161616;">
    <br />
    <p style = "text-align: center; color: #fff; "> FATEC Registro &copy; - 2025 </p>
    <hr />
    
</footer>    
</body>
<!-- Importanto Script da pasta Public -->
 <script src="/javascript/scripts.js"></script>
<!-- Script do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</html>