<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>,

        <p class="mensagem">Bem-vindo, admin!<p>
        <hr>
        <div class="imagem"><img src="/images/livro.png" alt="livro"></div>


      
<%- include ('partials/footer.ejs')%>
